// COLORS

$color_background: #1F2439;


$color_primary: #1F7C8F;
$color_secondary:#1E9FB4;
$color_tertiary:  #3DC054;

// $color_primary: #55c57a;
// $color_primary_light: #7ed56f;
// $color_primary_dark: #28b485;

// $color_secondary_light: #ffb900;
// $color_secondary_dark: #ff7730;

// $color_tertiary_light: #2998ff;
// $color_tertiary_dark: #5643fa;


$color_grey_light_1: #94C9D4;

$color_grey_dark: #777;
$color_grey_dark_2: #95969B;
$color_grey_dark_3: #333;

$color_white: #fff;
$color_black: #000;


// FONT
$default_font_size: 1.6rem;